.quarto/_freeze/about/execute-results/html.json
.quarto/_freeze/projects/bikeshare/Clustering/execute-results/html.json
.quarto/_freeze/projects/bikeshare/Clustering/figure-html/cell-3-output-2.png
.quarto/_freeze/projects/bikeshare/Clustering/figure-html/cell-3-output-3.png
.quarto/_freeze/projects/bikeshare/Clustering/figure-html/cell-3-output-4.png
.quarto/_freeze/projects/bikeshare/Clustering/figure-html/cell-3-output-5.png
.quarto/_freeze/projects/bikeshare/Clustering/figure-html/cell-3-output-6.png
.quarto/_freeze/projects/bikeshare/Lincoln/execute-results/html.json
.quarto/_freeze/projects/bikeshare/Omaha/execute-results/html.json
.quarto/_freeze/projects/ev_adoption/ev/execute-results/html.json
.quarto/_freeze/research/projects/bikeshare/Clustering/execute-results/html.json
.quarto/_freeze/research/projects/bikeshare/Clustering/figure-html/cell-3-output-2.png
.quarto/_freeze/research/projects/bikeshare/Clustering/figure-html/cell-3-output-3.png
.quarto/_freeze/research/projects/bikeshare/Clustering/figure-html/cell-3-output-4.png
.quarto/_freeze/research/projects/bikeshare/Clustering/figure-html/cell-3-output-5.png
.quarto/_freeze/research/projects/bikeshare/Clustering/figure-html/cell-3-output-6.png
.quarto/_freeze/research/projects/bikeshare/Lincoln/execute-results/html.json
.quarto/_freeze/research/projects/bikeshare/Omaha/execute-results/html.json
.quarto/_freeze/research/projects/ev/execute-results/html.json
.quarto/_freeze/research/shared_mobility/bikeshare/Clustering/execute-results/html.json
.quarto/_freeze/research/shared_mobility/bikeshare/Clustering/figure-html/cell-3-output-2.png
.quarto/_freeze/research/shared_mobility/bikeshare/Clustering/figure-html/cell-3-output-3.png
.quarto/_freeze/research/shared_mobility/bikeshare/Clustering/figure-html/cell-3-output-4.png
.quarto/_freeze/research/shared_mobility/bikeshare/Clustering/figure-html/cell-3-output-5.png
.quarto/_freeze/research/shared_mobility/bikeshare/Clustering/figure-html/cell-3-output-6.png
.quarto/_freeze/research/shared_mobility/bikeshare/Lincoln/execute-results/html.json
.quarto/_freeze/research/shared_mobility/bikeshare/Omaha/execute-results/html.json
.quarto/_freeze/research/vehicle_adoption/ev/execute-results/html.json
.quarto/_freeze/site_libs/clipboard/clipboard.min.js
.quarto/_freeze/site_libs/quarto-listing/list.min.js
.quarto/_freeze/site_libs/quarto-listing/quarto-listing.js
.quarto/_freeze/site_libs/revealjs/dist/reset.css
.quarto/_freeze/site_libs/revealjs/dist/reveal.css
.quarto/_freeze/site_libs/revealjs/dist/reveal.esm.js
.quarto/_freeze/site_libs/revealjs/dist/reveal.esm.js.map
.quarto/_freeze/site_libs/revealjs/dist/reveal.js
.quarto/_freeze/site_libs/revealjs/dist/reveal.js.map
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.css
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.eot
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.ttf
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.woff
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/league-gothic/LICENSE
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/LICENSE
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.eot
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.ttf
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.woff
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.eot
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.ttf
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.woff
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.eot
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.ttf
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.woff
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.eot
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.ttf
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.woff
.quarto/_freeze/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro.css
.quarto/_freeze/site_libs/revealjs/dist/theme/quarto-423d414d36ce366a9d05f36d06304417.css
.quarto/_freeze/site_libs/revealjs/dist/theme/quarto.css
.quarto/_freeze/site_libs/revealjs/plugin/highlight/highlight.esm.js
.quarto/_freeze/site_libs/revealjs/plugin/highlight/highlight.js
.quarto/_freeze/site_libs/revealjs/plugin/highlight/monokai.css
.quarto/_freeze/site_libs/revealjs/plugin/highlight/plugin.js
.quarto/_freeze/site_libs/revealjs/plugin/highlight/zenburn.css
.quarto/_freeze/site_libs/revealjs/plugin/markdown/markdown.esm.js
.quarto/_freeze/site_libs/revealjs/plugin/markdown/markdown.js
.quarto/_freeze/site_libs/revealjs/plugin/markdown/plugin.js
.quarto/_freeze/site_libs/revealjs/plugin/math/katex.js
.quarto/_freeze/site_libs/revealjs/plugin/math/math.esm.js
.quarto/_freeze/site_libs/revealjs/plugin/math/math.js
.quarto/_freeze/site_libs/revealjs/plugin/math/mathjax2.js
.quarto/_freeze/site_libs/revealjs/plugin/math/mathjax3.js
.quarto/_freeze/site_libs/revealjs/plugin/math/plugin.js
.quarto/_freeze/site_libs/revealjs/plugin/multiplex/multiplex.js
.quarto/_freeze/site_libs/revealjs/plugin/multiplex/plugin.yml
.quarto/_freeze/site_libs/revealjs/plugin/multiplex/socket.io.js
.quarto/_freeze/site_libs/revealjs/plugin/notes/notes.esm.js
.quarto/_freeze/site_libs/revealjs/plugin/notes/notes.js
.quarto/_freeze/site_libs/revealjs/plugin/notes/plugin.js
.quarto/_freeze/site_libs/revealjs/plugin/notes/speaker-view.html
.quarto/_freeze/site_libs/revealjs/plugin/pdf-export/pdfexport.js
.quarto/_freeze/site_libs/revealjs/plugin/pdf-export/plugin.yml
.quarto/_freeze/site_libs/revealjs/plugin/quarto-line-highlight/line-highlight.css
.quarto/_freeze/site_libs/revealjs/plugin/quarto-line-highlight/line-highlight.js
.quarto/_freeze/site_libs/revealjs/plugin/quarto-line-highlight/plugin.yml
.quarto/_freeze/site_libs/revealjs/plugin/quarto-support/footer.css
.quarto/_freeze/site_libs/revealjs/plugin/quarto-support/plugin.yml
.quarto/_freeze/site_libs/revealjs/plugin/quarto-support/support.js
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/all.css
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/brands.css
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/fontawesome.css
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/regular.css
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/solid.css
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/svg-with-js.css
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/v4-shims.css
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/v4-shims.min.css
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/LICENSE.txt
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-brands-400.eot
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-brands-400.svg
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-brands-400.ttf
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-brands-400.woff
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-brands-400.woff2
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-regular-400.eot
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-regular-400.svg
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-regular-400.ttf
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-regular-400.woff
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-regular-400.woff2
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-solid-900.eot
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-solid-900.svg
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-solid-900.ttf
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-solid-900.woff
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-solid-900.woff2
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/blackboard.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-black.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-blue.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-green.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-orange.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-purple.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-red.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-yellow.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-blue.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-green.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-orange.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-purple.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-red.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-white.png
.quarto/_freeze/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-yellow.png
.quarto/idx/teaching/ENCI707/prep/week8/week8-videos.qmd.json
.quarto/idx/teaching/ENCI707/project/data-sets.qmd.json
.quarto/idx/teaching/ENCI707/project/project-description.qmd.json
.quarto/idx/teaching/ENCI707/slides/lec-1.qmd.json
.quarto/idx/teaching/ENCI707/slides/lec-2.qmd.json
.quarto/idx/teaching/ENCI707/slides/lec-3.qmd.json
.quarto/idx/teaching/ENCI707/slides/lec-4.qmd.json
.quarto/idx/teaching/ENCI707/slides/lec-5.qmd.json
.quarto/idx/teaching/ENCI707/slides/lec-6.qmd.json
.quarto/idx/teaching/ENCI707/slides/lec-7.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-1.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-10.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-11.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-12.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-13.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-14.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-2.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-3.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-4.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-5.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-6.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-7.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-8.qmd.json
.quarto/idx/teaching/ENCI707/weeks/week-9.qmd.json
.quarto/idx/teaching/Guest Lectures/CIVE990T.qmd.json
.quarto/idx/teaching/teaching.qmd.json
.quarto/idx/team/index.qmd.json
.quarto/idx/thoughts/blog.qmd.json
.quarto/idx/thoughts/books.qmd.json
.quarto/idx/thoughts/posts/01-16-2025/index.qmd.json
.quarto/idx/thoughts/posts/04-21-2024/index.qmd.json
.quarto/idx/thoughts/posts/04-26-2024/index.qmd.json
.quarto/idx/thoughts/posts/05-04-2018/index.qmd.json
.quarto/idx/thoughts/posts/05-28-2024/index.qmd.json
.quarto/idx/thoughts/posts/06-06-2024/index.qmd.json
.quarto/idx/thoughts/posts/06-10-2024/index.qmd.json
.quarto/idx/thoughts/posts/06-24-2024/index.qmd.json
.quarto/idx/thoughts/posts/07-01-2024/index.qmd.json
.quarto/idx/thoughts/posts/07-03-2017/index.qmd.json
.quarto/idx/thoughts/posts/07-12-2024/index.qmd.json
.quarto/idx/thoughts/posts/07-30-2024/index.qmd.json
.quarto/idx/thoughts/posts/09-11-2017/index.qmd.json
.quarto/idx/thoughts/posts/10-29-2024/index.qmd.json
.quarto/listing/listing-cache.json
.quarto/preview/lock
.quarto/preview/lock-Copenhagen
.quarto/xref/00bb6df7
.quarto/xref/01652e0b
.quarto/xref/01714773
.quarto/xref/01c19801
.quarto/xref/021441c5
.quarto/xref/02176cd6
.quarto/xref/02366105
.quarto/xref/02fe5223
.quarto/xref/0332b490
.quarto/xref/04e21e83
.quarto/xref/05925ddd
.quarto/xref/072db91b
.quarto/xref/07924fbc
.quarto/xref/098c6c85
.quarto/xref/0a7dbada
.quarto/xref/0be23658
.quarto/xref/103272f7
.quarto/xref/10795d6d
.quarto/xref/143e3978
.quarto/xref/143e3978-Copenhagen
.quarto/xref/1507931b
.quarto/xref/16ec5db6
.quarto/xref/1827effa
.quarto/xref/1cc183b3
.quarto/xref/1d656231
.quarto/xref/1dd27617
.quarto/xref/1e36c79b
.quarto/xref/1ed69c60
.quarto/xref/2008544e
.quarto/xref/204401c3
.quarto/xref/21985cee
.quarto/xref/21d289a0
.quarto/xref/22204788
.quarto/xref/22699d7e
.quarto/xref/23f10aff
.quarto/xref/24a12d8c
.quarto/xref/25574866
.quarto/xref/2599ebc1
.quarto/xref/25ef6487
.quarto/xref/27c86e42
.quarto/xref/28c06ae5
.quarto/xref/2910e678
.quarto/xref/294fc234
.quarto/xref/2a5eecfc
.quarto/xref/2db3fc60
.quarto/xref/2e9b7ceb
.quarto/xref/3030ce9e
.quarto/xref/3065d3ca
.quarto/xref/30c624b7
.quarto/xref/326d1723
.quarto/xref/328467d6
.quarto/xref/329d469c
.quarto/xref/32f6a6a5
.quarto/xref/35484d35
.quarto/xref/3609af7a
.quarto/xref/387f1dfd
.quarto/xref/38a4afa5
.quarto/xref/392946a4
.quarto/xref/3969b627
.quarto/xref/396a0d33
.quarto/xref/39b83ed4
.quarto/xref/3ad60e96
.quarto/xref/3e6cee80
.quarto/xref/3fa84210
.quarto/xref/425ae3e8
.quarto/xref/42911a7b
.quarto/xref/43303d78
.quarto/xref/43db27e0
.quarto/xref/457ff4c9
.quarto/xref/45edf450
.quarto/xref/4854c060
.quarto/xref/4b78e00e
.quarto/xref/4c5a089a
.quarto/xref/4c929b9f
.quarto/xref/4d992df9
.quarto/xref/4defb3e1
.quarto/xref/4e133396
.quarto/xref/4e76b75a
.quarto/xref/4eee13ae
.quarto/xref/5101b03b
.quarto/xref/511e7b94
.quarto/xref/54f23a45
.quarto/xref/5580b81f
.quarto/xref/57734df3
.quarto/xref/57f3b227
.quarto/xref/584913ae
.quarto/xref/60d57c1f
.quarto/xref/627c4cc5
.quarto/xref/6319f8ed
.quarto/xref/6470dbd2
.quarto/xref/64cd71b2
.quarto/xref/674e211f
.quarto/xref/6808e991
.quarto/xref/68e7e753
.quarto/xref/694795f2
.quarto/xref/6950b1e9
.quarto/xref/6bd6d2e2
.quarto/xref/6bff4b6b
.quarto/xref/6cfb393b
.quarto/xref/6dd0c9a1
.quarto/xref/6f15ac13
.quarto/xref/6fbcc0d6
.quarto/xref/7033131e
.quarto/xref/70d12cdd
.quarto/xref/71352ab1
.quarto/xref/749d7c03
.quarto/xref/758ed609
.quarto/xref/75c93b31
.quarto/xref/75f8462f
.quarto/xref/783a7026
.quarto/xref/78bd6d7a
.quarto/xref/79c6cda9
.quarto/xref/7dbaef02
.quarto/xref/7eefede9
.quarto/xref/7f370ad1
.quarto/xref/7fc3d0a0
.quarto/xref/802093d9
.quarto/xref/81a91e78
.quarto/xref/81b55dd0
.quarto/xref/81b5da30
.quarto/xref/82b83d79
.quarto/xref/85df612c
.quarto/xref/863277b2
.quarto/xref/865a011d
.quarto/xref/8a6f2dcc
.quarto/xref/8f63c074
.quarto/xref/8fac3735
.quarto/xref/8fadac01
.quarto/xref/91985374
.quarto/xref/91b52b77
.quarto/xref/91c750d7
.quarto/xref/91e0122e
.quarto/xref/94a8dd59
.quarto/xref/94d16fa2
.quarto/xref/950a6cb7
.quarto/xref/966c7aef
.quarto/xref/97bb3402
.quarto/xref/984e5c74
.quarto/xref/989d5e76
.quarto/xref/995dbff5
.quarto/xref/9ba48587
.quarto/xref/9be0946e
.quarto/xref/9bf7f43b
.quarto/xref/9c740d8a
.quarto/xref/9d90f371
.quarto/xref/9dc7f0cb
.quarto/xref/9eb88cab
.quarto/xref/9f212626
.quarto/xref/a361c0f0
.quarto/xref/a378e02c
.quarto/xref/a37fb450
.quarto/xref/a481b032
.quarto/xref/a5186245
.quarto/xref/a5617dab
.quarto/xref/a615cef4
.quarto/xref/a75dcb66
.quarto/xref/a8d5d9b5
.quarto/xref/abdadf51
.quarto/xref/abec0a77
.quarto/xref/ac1f5138
.quarto/xref/ad2dd079
.quarto/xref/ad4afe33
.quarto/xref/adcf769d
.quarto/xref/ade82425
.quarto/xref/b03bed06
.quarto/xref/b4037bee
.quarto/xref/b4d3a02b
.quarto/xref/b912f7b6
.quarto/xref/b91516a8
.quarto/xref/b9927154
.quarto/xref/b9d48ed2
.quarto/xref/bbed8144
.quarto/xref/bd5e14c0
.quarto/xref/bd7d0ef0
.quarto/xref/c6645253
.quarto/xref/c68e049e
.quarto/xref/c70ee304
.quarto/xref/c7ea0440
.quarto/xref/c84c2c69
.quarto/xref/c882df05
.quarto/xref/c93ec526
.quarto/xref/c9a012a8
.quarto/xref/ca412dc6
.quarto/xref/cc9ba0b6
.quarto/xref/ccd8bb27
.quarto/xref/cd49aa24
.quarto/xref/ce5b5c5e
.quarto/xref/cf28048f
.quarto/xref/cf324054
.quarto/xref/cf80e16a
.quarto/xref/d06c13be
.quarto/xref/d0d0f30b
.quarto/xref/d1a6a753
.quarto/xref/d25a5e81
.quarto/xref/d280cf15
.quarto/xref/d280cf15-Copenhagen
.quarto/xref/d3d16ea2
.quarto/xref/d473a1bd
.quarto/xref/d55faf15
.quarto/xref/d7b2611a
.quarto/xref/d83ae6a6
.quarto/xref/d95e3abe
.quarto/xref/d95fb411
.quarto/xref/d9ad516a
.quarto/xref/dafcfa15
.quarto/xref/db0760ab
.quarto/xref/dc2e2d13
.quarto/xref/dca41a1c
.quarto/xref/dd971ac2
.quarto/xref/de851be1
.quarto/xref/defd3068
.quarto/xref/e149defd
.quarto/xref/e1948dba
.quarto/xref/e328b1f2
.quarto/xref/e38dcd93
.quarto/xref/e40c20c7
.quarto/xref/e42b7867
.quarto/xref/e4fd90d7
.quarto/xref/e5406af8
.quarto/xref/e556bceb
.quarto/xref/e61ab7db
.quarto/xref/e803a0f7
.quarto/xref/e9fd1226
.quarto/xref/eb21ce9e
.quarto/xref/eec74bd7
.quarto/xref/ef5289f2
.quarto/xref/f04ab5f7
.quarto/xref/f0badc54
.quarto/xref/f24db1b7
.quarto/xref/f73aa43d
.quarto/xref/f9e37b71
.quarto/xref/fc956df9
.quarto/xref/fcae4b92
.quarto/xref/fdb26155
.quarto/xref/fdd42d97
.quarto/xref/ffa13bfa
.quarto/xref/INDEX
assets/images/team/.DS_Store
docs/.nojekyll
docs/404.html
docs/assets/images/teaching/ENCI707/Lecture3/cobb-douglas-paper1.png
docs/assets/images/teaching/ENCI707/Lecture3/cobb-douglas-paper2.png
docs/assets/images/teaching/ENCI707/Lecture3/cobb-douglas-paper3.png
docs/assets/images/teaching/ENCI707/Lecture3/cobb-douglas-paper4.png
docs/assets/images/teaching/ENCI707/Lecture3/lag-effect-paper1.png
docs/assets/images/teaching/ENCI707/Lecture3/lag-effect-paper2.png
docs/assets/images/teaching/ENCI707/Lecture3/model_types.svg
docs/assets/images/teaching/ENCI707/Lecture3/translog-paper1.png
docs/assets/images/teaching/ENCI707/Lecture3/translog-paper2.png
docs/assets/images/teaching/ENCI707/Lecture3/translog-paper3.png
docs/assets/images/teaching/ENCI707/logo.png
docs/index.html
docs/search.json
docs/site_libs/bootstrap/assets/images/nature_demand_supply.png
docs/site_libs/bootstrap/bootstrap-icons.css
docs/site_libs/bootstrap/bootstrap-icons.woff
docs/site_libs/bootstrap/bootstrap.min.css
docs/site_libs/bootstrap/bootstrap.min.js
docs/site_libs/clipboard/clipboard.min.js
docs/site_libs/quarto-diagram/mermaid-init.js
docs/site_libs/quarto-diagram/mermaid.css
docs/site_libs/quarto-diagram/mermaid.min.js
docs/site_libs/quarto-html/anchor.min.js
docs/site_libs/quarto-html/light-border.css
docs/site_libs/quarto-html/popper.min.js
docs/site_libs/quarto-html/quarto-html.min.css
docs/site_libs/quarto-html/quarto-syntax-highlighting-e26003cea8cd680ca0c55a263523d882.css
docs/site_libs/quarto-html/quarto-syntax-highlighting.css
docs/site_libs/quarto-html/quarto.js
docs/site_libs/quarto-html/tabby.min.js
docs/site_libs/quarto-html/tippy.css
docs/site_libs/quarto-html/tippy.umd.min.js
docs/site_libs/quarto-listing/list.min.js
docs/site_libs/quarto-listing/quarto-listing.js
docs/site_libs/quarto-nav/headroom.min.js
docs/site_libs/quarto-nav/quarto-nav.js
docs/site_libs/quarto-search/autocomplete.umd.js
docs/site_libs/quarto-search/fuse.min.js
docs/site_libs/quarto-search/quarto-search.js
docs/site_libs/revealjs/dist/reset.css
docs/site_libs/revealjs/dist/reveal.css
docs/site_libs/revealjs/dist/reveal.esm.js
docs/site_libs/revealjs/dist/reveal.esm.js.map
docs/site_libs/revealjs/dist/reveal.js
docs/site_libs/revealjs/dist/reveal.js.map
docs/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.css
docs/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.eot
docs/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.ttf
docs/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.woff
docs/site_libs/revealjs/dist/theme/fonts/league-gothic/LICENSE
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/LICENSE
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.eot
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.ttf
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.woff
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.eot
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.ttf
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.woff
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.eot
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.ttf
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.woff
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.eot
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.ttf
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.woff
docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro.css
docs/site_libs/revealjs/dist/theme/quarto-423d414d36ce366a9d05f36d06304417.css
docs/site_libs/revealjs/dist/theme/quarto.css
docs/site_libs/revealjs/plugin/highlight/highlight.esm.js
docs/site_libs/revealjs/plugin/highlight/highlight.js
docs/site_libs/revealjs/plugin/highlight/monokai.css
docs/site_libs/revealjs/plugin/highlight/plugin.js
docs/site_libs/revealjs/plugin/highlight/zenburn.css
docs/site_libs/revealjs/plugin/markdown/markdown.esm.js
docs/site_libs/revealjs/plugin/markdown/markdown.js
docs/site_libs/revealjs/plugin/markdown/plugin.js
docs/site_libs/revealjs/plugin/math/katex.js
docs/site_libs/revealjs/plugin/math/math.esm.js
docs/site_libs/revealjs/plugin/math/math.js
docs/site_libs/revealjs/plugin/math/mathjax2.js
docs/site_libs/revealjs/plugin/math/mathjax3.js
docs/site_libs/revealjs/plugin/math/plugin.js
docs/site_libs/revealjs/plugin/multiplex/multiplex.js
docs/site_libs/revealjs/plugin/multiplex/plugin.yml
docs/site_libs/revealjs/plugin/multiplex/socket.io.js
docs/site_libs/revealjs/plugin/notes/notes.esm.js
docs/site_libs/revealjs/plugin/notes/notes.js
docs/site_libs/revealjs/plugin/notes/plugin.js
docs/site_libs/revealjs/plugin/notes/speaker-view.html
docs/site_libs/revealjs/plugin/pdf-export/pdfexport.js
docs/site_libs/revealjs/plugin/pdf-export/plugin.yml
docs/site_libs/revealjs/plugin/quarto-line-highlight/line-highlight.css
docs/site_libs/revealjs/plugin/quarto-line-highlight/line-highlight.js
docs/site_libs/revealjs/plugin/quarto-line-highlight/plugin.yml
docs/site_libs/revealjs/plugin/quarto-support/footer.css
docs/site_libs/revealjs/plugin/quarto-support/plugin.yml
docs/site_libs/revealjs/plugin/quarto-support/support.js
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/all.css
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/brands.css
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/fontawesome.css
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/regular.css
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/solid.css
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/svg-with-js.css
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/v4-shims.css
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/css/v4-shims.min.css
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/LICENSE.txt
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-brands-400.eot
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-brands-400.svg
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-brands-400.ttf
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-brands-400.woff
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-brands-400.woff2
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-regular-400.eot
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-regular-400.svg
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-regular-400.ttf
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-regular-400.woff
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-regular-400.woff2
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-solid-900.eot
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-solid-900.svg
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-solid-900.ttf
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-solid-900.woff
docs/site_libs/revealjs/plugin/reveal-chalkboard/font-awesome/webfonts/fa-solid-900.woff2
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/blackboard.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-black.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-blue.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-green.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-orange.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-purple.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-red.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/boardmarker-yellow.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-blue.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-green.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-orange.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-purple.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-red.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-white.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/chalk-yellow.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/sponge.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/img/whiteboard.png
docs/site_libs/revealjs/plugin/reveal-chalkboard/plugin.js
docs/site_libs/revealjs/plugin/reveal-chalkboard/plugin.yml
docs/site_libs/revealjs/plugin/reveal-chalkboard/README.md
docs/site_libs/revealjs/plugin/reveal-chalkboard/style.css
docs/site_libs/revealjs/plugin/reveal-menu/menu.css
docs/site_libs/revealjs/plugin/reveal-menu/menu.js
docs/site_libs/revealjs/plugin/reveal-menu/plugin.yml
docs/site_libs/revealjs/plugin/reveal-menu/quarto-menu.css
docs/site_libs/revealjs/plugin/reveal-menu/quarto-menu.js
docs/site_libs/revealjs/plugin/search/plugin.js
docs/site_libs/revealjs/plugin/search/search.esm.js
docs/site_libs/revealjs/plugin/search/search.js
docs/site_libs/revealjs/plugin/zoom/plugin.js
docs/site_libs/revealjs/plugin/zoom/zoom.esm.js
docs/site_libs/revealjs/plugin/zoom/zoom.js
docs/teaching/ENCI707/index.html
docs/teaching/ENCI707/slides/lec-2.html
docs/teaching/ENCI707/slides/lec-3.html
docs/teaching/ENCI707/slides/lec-4.html
docs/teaching/ENCI707/slides/lec-6.html
docs/teaching/ENCI707/weeks/week-1.html
docs/teaching/ENCI707/weeks/week-11.html
docs/teaching/ENCI707/weeks/week-13.html
docs/teaching/ENCI707/weeks/week-2.html
docs/teaching/ENCI707/weeks/week-4.html
docs/teaching/ENCI707/weeks/week-6.html
docs/teaching/ENCI707/weeks/week-8.html
docs/teaching/Guest Lectures/CIVE990T.html
docs/team/index.html
docs/thoughts/books.html
docs/thoughts/posts/04-21-2024/index.html
docs/thoughts/posts/05-04-2018/index.html
docs/thoughts/posts/06-06-2024/index.html
docs/thoughts/posts/06-24-2024/index.html
docs/thoughts/posts/07-03-2017/index.html
docs/thoughts/posts/07-30-2024/index.html
docs/thoughts/posts/10-29-2024/index.html
projects/ev_adoption/ev_adopt_graphs/__pycache__/__init__.cpython-312.pyc
projects/ev_adoption/ev_adopt_graphs/__pycache__/graphs.cpython-312.pyc
