library/
local/
cellar/
lock/
python/
staging/
.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
*.key
*speaker.html
.venv/
data
.DS_Store
__pycache__
docs

/env/
Hawkinslab - CIVE461.pdf
Hawkinslab - Publication.pdf
Hawkinslab - Research team.pdf
Hawkinslab – projects.pdf
